.book-details {
    display: flex;
    justify-content: center;
  }
  
  .book-details-container {
    display: flex;
    margin: 50px;
    width: 80vw;
    height: 100%;
  }
  
  .book-details-image {
    width: 800px;
    height: 750px;
    border: 1px solid rgb(192, 190, 190);
    padding: 5px;
    border-radius: 5px;
    align-self: center;
  }
  
  .book-details-content {
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .book-details-list {
    padding-left: 30px;
  }
  
  .book-details-item {
    list-style-type: circle;
  }
  
  .details-text {
    font-family: 'Roboto';
    font-weight: 500;
  }
  
  .details-value {
    font-weight: 450;
    color: rgb(108, 104, 104);
  }
  
  
  @media (max-width: 1000px) {
    .book-details-image {
      width: 600px;
      height: 600px;
    }
    .book-details-content {
      margin-left: 50px;
      width: 70vw;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: 1050px) {
    .book-details-image {
      width: 500px;
      height: 500px;
    }
  }
  
  @media (max-width: 830px) {
    .book-details-image {
      width: 400px;
      height: 400px;
    }
  }
  
  @media (max-width: 700px) {
    .book-details-image {
      width: 300px;
      height: 400px;
    }
  }
  
  @media (max-width: 750px) {
    .book-details-image {
      width: 100%;
      height: 100%;
    }
  
    .book-details-container {
      flex-direction: column;
    }
  
    .book-details-content {
      margin-left: 0px;
    }
  }
  
  /* @media (max-width: 330px) {
    .book-details-image {
      width: 250px;
      height: 350px;
    }
  } */
  