.add-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    font-family: 'Roboto';
  }
  
  .add-user-inner-container {
    width: 70%;
  }
  
  .add-book-heading {
    align-self: flex-start;
    border-bottom: 1px solid rgb(134, 127, 127);
    padding-bottom: 20px;
    color: grey;
    font-family: 'Bree Serif';
  }
  
  /*----------------------Form Container-----------------------------*/
  
  .add-user-form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(231, 229, 229); */
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
  }
  
  .add-label {
    font-size: 13px;
    font-weight: 410;
    margin-bottom: 7px;
    color: rgb(102, 97, 97);
  }
  
  .add-star-txt {
    color: rgb(219, 19, 19);
    font-size: 17px;
    font-weight: bold;
  }
  
  .add-input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(205, 197, 197);
    margin-bottom: 18px;
  }
  
  .add-input:focus {
    border: 1px solid rgb(189, 225, 246);
    outline: 3px ridge rgb(124, 199, 243);
  }
  
  .add-submit-btn {
    background-color: rgb(15, 15, 172);
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    font-family: 'Roboto';
    font-weight: 450;
  }
  
  /*---------------error text---------*/
  
  .add-error-txt {
    color: red;
    font-family: 'Roboto';
    font-weight: 15px;
    text-align: center;
  }
  
  .success-txt {
    background-color: rgb(140, 253, 140);
    border-radius: 3px;
    padding: 20px;
    margin-top: 30px;
  }
  
  .failure-txt {
    background-color: rgb(248, 187, 187);
    border-radius: 3px;
    padding: 20px;
    margin-top: 30px;
  }
  
  .msg-txt {
    color: white;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 15px;
    text-align: center;
  }
  
  @media (max-width: 410px) {
    .add-user-inner-container {
      width: 100%;
      padding: 10px;
    }
  
    .add-user-container {
      width: 100%;
    }
  
    .add-user-form {
      width: 100%;
      padding: 10px;
    }
  }
  