/*-------Loader Container--------*/

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/*--------Search Field------*/

.books-header {
    background-color: rgba(232, 236, 235, 0.677);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 20px;
  }
  
  .search-heading {
    margin-top: 7px;
    color: rgb(92, 168, 222);
    font-family: 'Courier New';
    text-align: center;
  }
  
  .books-search-input {
    width: 60%;
    padding: 10px;
    border-width: 0px;
    border-radius: 3px;
    margin-right: 20px;
  }
  
  .books-search-input:focus {
    box-shadow: 4px 8px 16px 0px #aaf0f6;
  }

  /*----------Empty Books Container------------*/
  
  .books-empty-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .not-found-books {
    width: 600px;
  }
  
  .empty-product-heading {
    font-size: 40px;
    font-family: 'Bree Serif';
    font-weight: 500;
    margin-top: 0px;
    color: rgb(32, 32, 171);
  }


  /*-------------Books List----------*/

  .books-list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    overflow-y: scroll;
  }
  
  
  @media (max-width: 900px) {
    .books-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding-bottom: 20px;
      justify-content: center;
    }
  
    .search-bar {
      justify-content: center;
    }
  
    .not-found-books {
      width: 80%;
    }
  }
  
  @media (max-width: 650px) {
    .empty-product-heading {
      font-size: 30px;
    }
  }
  
  @media (max-width: 600px) {
  
    .books-empty-container {
      height: 60vh;
    }
  
    .books-item {
      margin-right: 0px;
    }
  }
  
  @media (max-width: 300px) {
    .empty-product-heading {
      font-size: 20px;
    }
  }
  